* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
   text-decoration: none;
   display: inline-block;
}

ul,li {
    list-style: none;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}

nav {
    margin-top: 50px;
    padding-top: 5px;
    background-color: #F2F2F2;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.item {
    display: flex;
    align-items: center;
}

.link {
    margin: 0 15px;
}

.dropdown {
    position: relative;
}

.dropdown_item {
    position: absolute;
    display: none;
    border-top: 5px solid blue;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    width: 200px;
    height: 200px;
    line-height: 30px;
    font-size: 20px;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.dropdown:hover .dropdown_item {
    display: block;
}

.dropdown_lin {
    margin-right: 2px;
}

.drop_link a{
    position: relative;
}

.dropdown_link:hover {
    color: blue;
}

.drop_link:hover {
    color: blue;
}

.link-get {
    background-color: #F04037;
    border: 2px solid #C31A12;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
}

.link-get:hover {
    color: rgb(209, 196, 196);
    background-color: rgb(211, 68, 68);
}

.drop_item {
    margin-top: -15px;
    position: absolute;
    display: none;
    margin-left: -200px;
    border-top: 8px solid red;
    padding: 5px 10px 10px 15px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    line-height: 30px;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.drop_link {
    color: black;
}

.drop_item .drop_list {
    text-align: center;
}

.drop:hover .drop_item {
    display: block;
}

.section-demos {
    background-color:  #F2F2F2;
    padding-top: 100px;
}

.all-demos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.video-demos {
    display: flex;
    color: blue;
    align-items: center;
}

.video-demos p {
    margin-left: 20px;
}

.img-demos {
    width: 400px;
}

.redesigned-all h1 {
    font-size: 60px;
}

.redesigned-all .p1 {
    margin-top: 20px;
    color: #696871;
    line-height: 38px;
}

.redesigned-all .demos_button {
    background-color: #F0544C;
    border: 2px solid #C31A12;
    padding: 10px 25px;
    border-radius: 8px;
    margin-left: 20px;
    color: white;
    margin: 20px 0;
}

.all-popular {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.all-popular p {
    font-size: 12px;
}

.box-popular {
    background-color: #EAE9F2;
    width: 600px;
    height: 2px;
    margin-left: 30px;
}