* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
   text-decoration: none;
   display: inline-block;
}

ul,li {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

nav .container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.list {
    display: flex;
}

.link {
    margin: 0 15px; 
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown_list {
    display: block;
}

.dropdown:hover {
    display: block;
}

.dropdown_link:hover {
    display: block;
}

.dropdown_list {
    position: absolute;
    display: none;
}